<link rel="stylesheet" type="text/css" href="css/base/profile.css">

<!--!content!-->
<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

  <template id="salary-list__row">
    <tr class="mdc-data-table__row">
      <td class="mdc-data-table__cell">05/MAY/2020</td>
      <td class="mdc-data-table__cell">8</td>
      <td class="mdc-data-table__cell">
        <button id="delete_button" class="mdc-button trip_form-button" data-mdc-auto-init="MDCRipple">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Delete</span>
        </button> 
      </td>
    </tr>
  </template>

  <!--headline-->
  <form id="salary-add" class="search-form" method="POST" action="/api/worker_salary/add_hours">
    <legend>
      <h3 class="mdc-typography--headline3 mdc-theme--on-primary search-form__title">Salary Management</h3>
    </legend>

    <div class="row row--bordered">
      <div class="column">

        <div class="profile-labes ">Name: </div>

        <div class="profile-labes">Birthdate: </div>

        <div class="profile-labes">Home Address: </div>

        <div class="profile-labes">Tax Number: </div>

        <div class="profile-labes">Assignment: </div>

        <div class="profile-labes">Last Month's Payment: </div>

      </div>
      <div class="column">
        <div class="profile-data"><%- data.name %></div>

        <div class="profile-data"><%- data.birthDate %></div>

        <div class="profile-data"><%- data.addrress %></div>

        <div class="profile-data"><%- data.tax %></div>

        <div class="profile-data"><%- data.field %></div>

        <div class="profile-data">196847 <span> Ft/Month</span></div>

      </div>

    </div>

    <div class="search-form--fileds">

      <input hidden name="id", value="<%- data.id %>">

      <!--worked hours on that day-->
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
        data-mdc-auto-init="MDCTextField">
        <i class="material-icons mdc-text-field__icon">calendar_today</i>
        <input class="mdc-text-field__input" type="date" id="text-field-BIRTH-input" name="date">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">Work Date</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <!--worked hours-->
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon"
        data-mdc-auto-init="MDCTextField">
        <i class="material-icons mdc-text-field__icon">av_timer</i>
        <input class="mdc-text-field__input" type="number" id="text-field-TAX-input" name="hours">
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">Worked Hours</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>

      <!--add-->
      <div class="finish-search">

        <button id="subbmit_button" class="mdc-button salary_form-button" data-mdc-auto-init="MDCRipple">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Add</span>
        </button>

      </div>

    </div>

  </form>

  <!--table-->
  <div class="box my-box">
    <div class="mdc-data-table">
      <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead id="salary-list--thead">
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Work Day</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Worked Hours</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Delete Data</th>
          </tr>
        </thead>
        <form>
          <tbody id="salary-list" class="mdc-data-table__content">


          </tbody>
        </form>
      </table>
    </div>
  </div>

</div>

<script>
  function showMask() {
    var node = document.getElementById('salary-list')
    var visibility = node.style.visibility;
    node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
  }
</script>

<script src="js/salary_management.js"></script>