<link rel="stylesheet" type="text/css" href="css/base/ticketBuy.css">


<div class="mdc-top-app-bar--fixed-adjust content mdc-theme--surface">

  <!--headline-->
  <div id="buy" class="buy-form">
    <legend>
      <h3 class="mdc-typography--headline3 mdc-theme--on-primary buy-form__title">Buy tickets for</h3>
    </legend>

    <div class="train_data">
      <div class="train-data--row">
        <div class="label">From: </div>
        <div class="data"><%- data.from %></div>
      </div>

      <div class="train-data--row">
        <div class="label">To: </div>
        <div class="data"><%- data.to %></div>
      </div>

      <div class="train-data--row">
        <div class="label">On: </div>
        <div class="data"><%- data.day %></div>
      </div>

      <div class="train-data--row">
        <div class="label">Depart: </div>
        <div class="data"><%- data.depart %></div>
      </div>

      <div class="train-data--row">
        <div class="label">Price: </div>
        <div class="data"><%- data.price %> <span>Ft/adult</span></div>
      </div>
      <br>

      <div style="border-bottom: 1px;border-bottom-style: solid;" class="train-data--row" id="finalPrice">
        <div class="label">Final price: </div>
        <div class="data" ><span id="finalPrice_number">1</span> <span>Ft</span></div>
        <!--count if the selected one adult, or youth or senior with 50% or 90% off-->
        <!--10x the price if its a group buy than 20% off-->
      </div>

      <!--<br>
      <div class="train-data--row">
        <div class="label">Trains name: </div>
        <div class="data">Stormy</div>
      </div>

      <div class="train-data--row">
        <div class="label">Car's number: </div>
        <div class="data">12</div>
      </div>

      <div class="train-data--row">
        <div class="label">Seat's number: </div>
        <div class="data">43</div>
      </div>-->
    </div>


    <!--passenger age serach-->
    <div class="select">
      <div id="buy-select" class="mdc-select select-buy">
        <div class="mdc-select__anchor demo-width-class">
          <i class="mdc-select__dropdown-icon"></i>
          <div class="mdc-select__selected-text"></div>
          <span class="mdc-floating-label">Passengers</span>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
          <ul class="mdc-list">
            <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true"></li>
            <li class="mdc-list-item" data-value="adult">
              Adult
            </li>
            <li class="mdc-list-item" data-value="youth">
              Youth/Child-<i>(50% off)</i>
            </li>
            <li class="mdc-list-item" data-value="senior">
              Senior-<i>(90% off)</i>
            </li>
            <li class="mdc-list-item" data-value="senior">
              Group-<i>(20% off)</i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--travelling person(s) input data fields-->
    <form method="POST">
      <input hidden value="<%- data.id %>" name="id">
      <input hidden value="<%- data.from %>" name="from">
      <input hidden value="<%- data.to %>" name="to">
      <input hidden value="<%- data.day %>" name="day">
      <input hidden value="<%- data.depart %>" name="depart">
      <input hidden id="finalPrice_field" value="<%- data.price %>" name="finalPrice">

      <input hidden id="category_field" value="" name="category">

      <h5 id="buyer__title" class="mdc-typography--headline5 mdc-theme--on-primary buyer__title-traveler_data">Passenger's data:</h5>

      <div id="traveller-data" class="traveller-data">

        <div id="1-person-data" style="display: none;">
          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
            </div>
        
            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
          </div>
        </div>

                
        <div id="10-person-data" style="display: none;">

          <div class="traveller-data--row"><i>Only fill that many field, as much people are in the group.</i></div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName1">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">1. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail1">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName2">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">2. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail2">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName3">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">3. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail3">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName4">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">4. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail4">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName5">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">5. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail5">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName6">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">6. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail6">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName7">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">7. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail7">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName8">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">8. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail8">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName9">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">9. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail9">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>

          <div class="traveller-data--row">
            <div class="mdc-text-field traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="text" class="mdc-text-field__input" id="buy-name" name="travellerName10">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">10. Name</label>
            </div>

            <div class="mdc-text-field  traveller-data--field" data-mdc-auto-init="MDCTextField">
              <input type="email" class="mdc-text-field__input" id="buy-mail" name="travellerMail10">
              <div class="mdc-line-ripple"></div>
              <label for="text-field-hero-input" class="mdc-floating-label">E-mail</label>
            </div>
            <br>

          </div>
        </div>


      </div>

      <div id="traveller-data--end" class="traveller-data--end">

        <div class="mdc-checkbox checkbox" data-mdc-auto-init="MDCCheckbox">
          <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-1" onclick='onClickHandler()' />
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
        <label class="checkbox-label" for="checkbox-1">Agree to Terms & Conditions</label>

        <button id="buy_button" class="mdc-button mdc-button--raised buy-button"> <span class="mdc-button__ripple"></span> Buy</button>

      </div>


    </form>
  </div>
</div>

<script>
  function onClickHandler(){
      var chk=document.getElementById("checkbox-1").value;

      if (chk) {
        document.getElementById("buy_button").disabled = false;
      }
      
      if(!chk){
        document.getElementById("buy_button").disabled = true;
      }
  
  
  }
</script>

<script src="js/ticket_buy.js"></script>